<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Food Canvas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>My Food Canvas</h1>
        <button id="searchButton" onclick="searchOnlineRecipes()">Search for recipes online</button>
    </header>

    <div class="container">
        <div class="white-box">
            <button id="showCreateButton" onclick="showCreate()">Add Recipe</button>

            <table class="table" id="recipeTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Ingredients</th>
                        <th>Instructions</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table rows will be dynamically added here -->
                </tbody>
            </table>
        </div>
    </div>

    <div id="createUpdateForm">
        <h2 id="createLabel">Add New Recipe</h2>
        <h2 id="updateLabel" style="display: none;">Update Recipe</h2>
        <input type="hidden" name="id">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="ingredients" placeholder="Ingredients">
        <input type="text" name="instructions" placeholder="Instructions">
        <button id="doCreateButton" onclick="doCreate()">Create Recipe</button>
        <button id="doUpdateButton" onclick="doUpdate()" style="display: none;">Update Recipe</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
