<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Food Canvas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>My Food Canvas</h1>
    </header>

    <div class="container">
        <div class="white-box">
            <button id="showCreateButton" onclick="showCreate()">Add Recipe Manually</button>
            <button id="extractRecipeButton" onclick="extractRecipe()">Extract and Save Recipe</button>

            <form id="searchForm">
                <label for="searchQuery">Search for recipes online:</label>
                <input type="text" id="searchQuery" name="searchQuery" placeholder="Enter keyword...">
                <button type="button" id="searchButton" onclick="searchOnlineRecipes()">Search</button>
            </form>

            <div id="searchResults"></div>

            <table class="table" id="recipeTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Ingredients</th>
                        <th>Instructions</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table rows will be dynamically added here -->
                </tbody>
            </table>

            <div id="createUpdateForm">
                <h2><span id="createLabel">Add</span> <span id="updateLabel">Update</span> Recipe</h2>
                <input type="hidden" name="id" />
                <p><label for="name">Name:</label> <input type="text" id="name" name="name" /></p>
                <p><label for="ingredients">Ingredients:</label> <input type="text" id="ingredients" name="ingredients" /></p>
                <p><label for="instructions">Instructions:</label> <input type="text" id="instructions" name="instructions" /></p>
                <button id="doCreateButton" onclick="doCreate()">Create</button>
                <button id="doUpdateButton" onclick="doUpdate()">Update</button>
                <button id="doCancelButton" onclick="clearForm()">Cancel</button>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>
